.team-card {
    line-height: 1.19;
    padding-bottom: 24px;
}

.team-card__img-wrapper {
    overflow: hidden;
}

.team-card:hover .team-card__img {
    transform: scale(1.1);
    transition: 1s ease;
}

.team-card__img {
    width: 270px;
    height: 100%;
    transition: 1s ease;
}

.team-card__title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 30px;
}

.team-card__subtitle {
    margin-top: 10px;
    margin-bottom: 16px;
    font-weight: 400;
    color: var(--text-color);
}

@media screen and (min-width: 450px) {
    .team-card__img {
        width: 100%;
        max-width: 450px;
        height: 460px;
    }
}

@media screen and (min-width: 768px) {
    .team-card__img {
        width: 100%;
        max-width: 354px;
        max-height: 374px;
    }
}

@media screen and (min-width: 1200px) {
    .team-card__img {
        width: 100%;
        max-width: 270px;
        max-height: 260px;
    }
}