:root {
    --hover-color: rgba(33, 150, 243, 1);
    --hover-color2: rgb(0, 127, 232);
    --logo-color2: rgba(0, 0, 0, 1);
    --text-color: rgba(117, 117, 117, 1);
    --text-color2: rgba(255, 255, 255, 1);
    --text-color3: rgba(255, 255, 255, 0.6);
    --text-color4: rgba(117, 117, 117, 0.5);
    --background-color: rgba(47, 48, 58, 1);
    --background-color2: rgba(245, 244, 250, 1);
    --background-color3: rgba(255, 255, 255, 0.1);
    --background-color4: rgba(33, 150, 243, 0.9);
    --background-color5: rgba(0, 0, 0, 0.2);
    --border-color: rgba(255, 255, 255, 0.3);
    --border-main: 1px solid rgba(0, 0, 0, 0.1);
    --border-color2: rgba(33, 33, 33, 0.2);
    --border-bottom-color: rgba(236, 236, 236, 1);
    --border-bottom-color2: rgba(238, 238, 238, 1);
    --svg-color: rgba(175, 177, 184, 1);
    --svg-color2: rgb(175, 177, 184);
    --svg-color3: rgba(117, 117, 117, 1);
    --gradient-color: rgba(47, 48, 58, 0.4);
    --gradient-color2: rgba(47, 48, 58, 0.8);
    --transition-duration-main: 250ms;
    --transition-timing-function-main: cubic-bezier(0.4, 0, 0.2, 1);
    --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    --box-shadow2: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    --box-shadow-btn: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --box-shadow-hover: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    --box-shadow-hover2: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* --main-font: "Roboto",
        sans-serif;
        --secondary-font: "Raleway",
        sans-serif;
        --brand-color: #212121;
        --accent-color: #2196F3;
        --grey-color: #757575;
        --background-color: #2F303A;
        --white-color: #F5F4FA;
        --icon-color: #AFB1B8;
        --transform: 250ms cubic-bezier(0.4, 0, 0.2, 1); */