.social__list-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    color: var(--hover-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.social__link-mobile:visited {
    color: var(--hover-color);
}

@media screen and (min-width: 480px) {
    .social__list-mobile {
        flex-direction: row;
        gap: 15px;
        padding-right: 83px;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
    }

    .social__item-mobile:not(:last-child) {
        border-right: 1px solid var(--border-color2);
        padding-right: 10px;
    }
}