.header {
    top: 0;
    left: 0;
    position: sticky;
    background-color: white;
    z-index: 2;
    border-bottom: 1px solid var(--border-bottom-color);
    box-shadow: var(--box-shadow-hover2);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width:767px) {
    .header__wrapper {
        gap: 83px;
    }
}

@media screen and (min-width: 1200px) {
    .header__wrapper {
        gap: 93px;
    }
}