.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials__list {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.socials__icon {
    width: 20px;
    height: 20px;
    display: flex;
}

.socials__icon--footer {
    fill: var(--text-color2);
}

.socials__item {
    display: flex;
    background: var(--text-color2);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.socials__item--footer {
    background-color: var(--background-color3);
    margin: 20px 0 0 0;
}

.socials__item:hover,
.socials__item:focus {
    color: var(--text-color2);
    fill: var(--text-color2);
    background: var(--hover-color);
    cursor: pointer;
    transition-duration: var(--transition-duration-main);
    transition-timing-function: var(--transition-timing-function-main);
}

.socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--svg-color2);
}

.socials__link:hover,
.socials__link:focus {
    fill: var(--svg-color2);
}